.consructor_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  border: solid red 1px;*/
/*  background-color: grey;*/
}

.img_container {
  width: 300px;
  height: 300px;
  float: left;
}

.input_file {
  position: relative;
  display: inline-block;
}

.input_file_btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #419152;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input_file_text {
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
}

.input_file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */

.input_file input[type=file]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
/* Hover/active */
.input_file:hover .input-file-btn {
  background-color: #59be6e;
}

.input_file:active .input_file_btn {
  background-color: #2E703A;
}

/* Disabled */

.input_file input[type=file]:disabled + .input_file_btn {
  background-color: #eee;
}