.selection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 4px;
}

.selection__value.selection__value_active .selection__label {
  color: white;
}

.selection__label {
  font-size: 12px;
/*  font-weight: bold;*/
/*  text-transform: uppercase;*/
  color: #acacac;
  transition: 0.4s color;
}


.selecton__value {
  transition: 0.4s opacity;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selection__value:hover {
  opacity: 0.8;
  cursor: pointer;
}
