.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  border: solid red 1px;*/
/*  background-color: grey;*/
}

.canvas_container{
  width: 300px;
  height: 300px;
  border: solid black 1px;
  margin: 50px 0px 0px 0px;
}

.control_container {
  width: 300px;
}
