.cropper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  width: 100%;
/*  border: 1px solid yellow;*/
/*  padding: 20px 10px 20px 10px;*/
}

.cropper__window {
  width: 80vw;
  height: 45vw;
/*  border: 1px solid red;*/
}

.cropper__panel {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: grey;
}

.add-file {

}

.add-file__label {
 background-color: #7F9CCB;
}

.add-file__input {
  opacity: 0;
}

