.image_cropper {
  display: flex;
  flex-direction: column;
}

.img_container {
  width: 300px;
  height: 300px;
  float: left;
  border: solid red 1px;
}

.img_preview_container {
  width: 300px;
  height: 200px;
  margin: 0px 0px 0px 0px;
  border: solid green 2px;
  float: left;
}

.img_preview {
  border-radius: 50%;
  position: absolute;
  draggable: false;
}


