.constructor_models {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  border: solid red 1px;*/
/*  background-color: grey;*/
}

.canvas_container{
  width: 300px;
  height: 300px;
  border: solid black 1px;
  margin: 50px 0px 0px 0px;
}

.control_container {
  width: 300px;
}

.control_button_container {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control_button {
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #419152;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
}